In [1]:
import pandas as pd

df = pd.read_excel('../RESCRP11.xlsx', header=0)

In [2]:
print(df)

     Period           Transaction Plant Product_Sub_Group Business  \
0  JAN-2019  Order Entry-Domestic  KPLO                ML       LB
1  JAN-2019  Order Entry-Domestic  KPLO                ML       LB
2  JAN-2019    Order Entry-Export  KPLO                FX       FL
3  JAN-2019          RMA-Domestic  KPLO                OT       OT
4  JAN-2019  Order Entry-Domestic  KPLO                OT       OT
5  JAN-2019          RMA-Domestic  KPLO                OT       OT

  Product_Group Print_Technique D_ND Product_Sub_Group__D_ND_ BU_Except_IBD  \
0            ML           Flexo   ND                    ML ND           LBD
1            ML           Flexo   ND                    ML ND           LBD
2     Laminates         Gravure   ND                    FX ND           FBD
3        Others             NaN   ND                    OT ND        Others
4        Others             NaN   ND                    OT ND        Others
5        Others             NaN   ND                    OT ND        Others

   ...  Net_Sales  VA_Percent EBIT_Percent_Sales  HUH_Net_Sales  \
0  ...    9958.65    5.894774         -40.944081    9958.650000
1  ...    3289.52    9.112929        -154.924252    3289.520000
2  ...  266446.24   38.154636           3.378027  281991.457945
3  ...  -10146.00  100.000000         100.000000       0.000000
4  ...   10146.00  100.000000         100.000000       0.000000
5  ...  -11392.00  100.000000         100.000000       0.000000

   HUH_VA_percent  HUH_EBIT_percent       KSQM MONTH  YEAR  \
0        2.528135        -43.125696   0.537933   JAN  2019
1        5.746289       -157.105868   0.139862   JAN  2019
2       41.982526          6.553000   9.193941   JAN  2019
3        0.000000          0.000000 -57.000000   JAN  2019
4        0.000000          0.000000   0.000000   JAN  2019
5        0.000000          0.000000 -64.000000   JAN  2019

              Upload_Date
0 2020-02-28 17:21:17.332
1 2020-02-28 17:21:17.335
2 2020-02-28 17:21:17.336
3 2020-02-28 17:21:18.060
4 2020-02-28 17:21:18.061
5 2020-02-28 17:21:18.061

[6 rows x 209 columns]

In [3]:
df.fillna("")

,Period,Transaction,Plant,Product_Sub_Group,Business,Product_Group,Print_Technique,D_ND,Product_Sub_Group__D_ND_,BU_Except_IBD,...,Net_Sales,VA_Percent,EBIT_Percent_Sales,HUH_Net_Sales,HUH_VA_percent,HUH_EBIT_percent,KSQM,MONTH,YEAR,Upload_Date
0,JAN-2019,Order Entry-Domestic,KPLO,ML,LB,ML,Flexo,ND,ML ND,LBD,...,9958.65,5.894774,-40.944081,9958.650000,2.528135,-43.125696,0.537933,JAN,2019,2020-02-28 17:21:17.332
1,JAN-2019,Order Entry-Domestic,KPLO,ML,LB,ML,Flexo,ND,ML ND,LBD,...,3289.52,9.112929,-154.924252,3289.520000,5.746289,-157.105868,0.139862,JAN,2019,2020-02-28 17:21:17.335
2,JAN-2019,Order Entry-Export,KPLO,FX,FL,Laminates,Gravure,ND,FX ND,FBD,...,266446.24,38.154636,3.378027,281991.457945,41.982526,6.553000,9.193941,JAN,2019,2020-02-28 17:21:17.336
3,JAN-2019,RMA-Domestic,KPLO,OT,OT,Others,,ND,OT ND,Others,...,-10146.00,100.000000,100.000000,0.000000,0.000000,0.000000,-57.000000,JAN,2019,2020-02-28 17:21:18.060
4,JAN-2019,Order Entry-Domestic,KPLO,OT,OT,Others,,ND,OT ND,Others,...,10146.00,100.000000,100.000000,0.000000,0.000000,0.000000,0.000000,JAN,2019,2020-02-28 17:21:18.061
5,JAN-2019,RMA-Domestic,KPLO,OT,OT,Others,,ND,OT ND,Others,...,-11392.00,100.000000,100.000000,0.000000,0.000000,0.000000,-64.000000,JAN,2019,2020-02-28 17:21:18.061